@page "/shell"

@inject NavigationManager navigationManager

<div id="outer-screen">
    <div id="inner-screen">
        <div id="output-outer"><div id="output">@((MarkupString)Output)</div></div>
        <div id="blank-line">&nbsp;</div>
        <div id="input-row">
            <span>&gt;&nbsp;</span><input @ref="inputElem" id="input" @bind="Input" type="text" @onkeydown="OnKeyDown" @onkeyup="Run" disabled="@Disabled" autofocus />
        </div>
    </div>
</div>
